/* Imports da fonte */

/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Classes genericas */
.layout-grid{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid salmon;
}

/* justify content + align items */
.alinhamento-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    color: white;
}
/* Mobile first */

/* HEADER */
header{
    height: 60px;
    background-color: #1b1426;
}

header .header-top{
display: none;
}

header nav{
display: none;
}

header .menu-usuarios{
display: none;
}

